################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConcertTicketManagement/bin/*
/ConcertTicketManagement/obj/*
/.vs
/ConcertTicketManagement/ConcertTicketManagement.csproj.user
/ConcertTicketManagement.Application/bin/*
/ConcertTicketManagement.Application/obj/*
/ConcertTicketManagement.Repositories/bin
/ConcertTicketManagement.Repositories/obj
/EventsContracts/bin
/EventsContracts/obj
/ConcertTicketManagement.APi/bin
/ConcertTicketManagement.APi/obj
/ConcertTicketManagement.EventsContracts/bin
/ConcertTicketManagement.EventsContracts/obj
/ConcertTicketManagement.Tests/bin
/ConcertTicketManagement.Tests/obj
/ConcertTicketManagement.APi/ConcertTicketManagement.Api.csproj.user
