################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConcertTicketManagement/bin/*
/ConcertTicketManagement/obj/*
/.vs
/ConcertTicketManagement/ConcertTicketManagement.csproj.user
/ConcertTicketManagement.Application/bin/*
/ConcertTicketManagement.Application/obj/*
/ConcertTicketManagement.Repositories/bin
/ConcertTicketManagement.Repositories/obj
/ConcertTicketManagement.Api/bin
/ConcertTicketManagement.Api/obj
/ConcertTicketManagement.EventsContracts/bin
/ConcertTicketManagement.EventsContracts/obj
/ConcertTicketManagement.Tests/bin
/ConcertTicketManagement.Tests/obj
/ConcertTicketManagement.Api/ConcertTicketManagement.Api.csproj.user
